body {
  text-align: center;
}
.body_text {
  font-size: 48px;
  font-style: oblique;
}

#special {
    background-color: #ff0000
}
  /* by specifying body you're telling the css that this set of commands
  applies to the body of the page

  selector, property : text-align, center,  reference css options at w3 schools,
   available CSS reference, use some reference/cheatsheet to understand the different CSS properties

   Use .body_text to specify

   use id to differentiate special elements*/
